<!-- Footer-->
<footer class="w-100 py-4 flex-shrink-0">
  <div class="container py-4">
    <div class="row gy-4 gx-5">
      <div class="col-lg-4 col-md-6">
        <h5 class="h1 text-white">Misty Eyes</h5>
        <p class="small text-muted">Ecommerce is the buying and selling of goods and services over the Internet.</p>
        <p class="small text-muted mb-0">&copy;2022 Liam Tran. All rights from Github.
          <a class="text-primary" href="https://github.com/Liamtran1997/Tiki_clone/tree/master">Somewhere out there
          </a></p>
      </div>

      <div class="col-lg-4 col-md-6">
      </div>



      <div class="col-lg-4 col-md-6">
        <h5 class="text-white mb-3"><li><a href="#">About Us</a></li></h5>

        <h5 class="text-white mb-3"><li><a href="https://www.instagram.com/" >
          <i style="font-size:24px" class="fa">&#xf16d;</i></a></li></h5>

        <h5 class="text-white mb-3"><li><a href="https://www.facebook.com/"
                                           class="fa fa-facebook" style="font-size:24px"></a>
        </li></h5>

        <h5 class="text-white mb-3"><li><a href="https://github.com/Liamtran1997/Tiki_clone/tree/master"
                                           style="font-size:24px"
                                           class="fa">&#xf09b;</a></li></h5>
      </div>


    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
