<!-- Footer-->
<footer class="w-100 py-4 flex-shrink-0">
  <div class="container py-4">
    <div class="row gy-4 gx-5">
      <div class="col-lg-4 col-md-6">
        <h5 class="h1 text-white">Tiki Clone App</h5>
        <p class="small text-muted">Ecommerce is the buying and selling of goods and services over the Internet.</p>
        <p class="small text-muted mb-0">&copy;2022 Liam Tran. All rights from Github.
          <a class="text-primary" href="https://github.com/Liamtran1997/Tiki_clone/tree/master">Somewhere out there
          </a></p>
      </div>

      <div class="col-lg-4 col-md-6">
      </div>

      <div class="col-lg-4 col-md-6">
        <h5 class="text-white mb-3"><a href="https://tiki.vn/thong-tin/gioi-thieu-ve-tiki">About Us</a></h5>

        <h5 class="text-white mb-3"><a href="https://www.youtube.com/user/TikiVBlog">
          <i class="fa-brands fa-youtube fa-xl"></i></a>
        </h5>

        <h5 class="text-white mb-3"><a href="https://www.facebook.com/tiki.vn/">
          <i class="fa-brands fa-facebook fa-xl" ></i></a>
        </h5>

        <h5 class="text-white mb-3"><a href="https://github.com/Liamtran1997/Tiki_clone/tree/master">
          <i class="fa-brands fa-github fa-xl"></i></a>
        </h5>
      </div>


    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
